<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.ahaverty.coupleclock</string>
			<key>key</key>
			<string>enableCoupleClockToggle</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.ahaverty.coupleclock/preferencesChanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Timezone Settings</string>
			<key>footerText</key>
			<string>CoupleClock allows you to add a second clock to the status bar for quick referencing of two timezones from any screen. Based on DuplexClock by SharedRoutine</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<string>America/Los_Angeles</string>
			<key>PostNotification</key>
			<string>com.ahaverty.coupleclock/preferencesChanged</string>
			<key>defaults</key>
			<string>com.ahaverty.coupleclock</string>
			<key>key</key>
			<string>secondaryTimeZone</string>
			<key>titlesDataSource</key>
			<string>timeZones</string>
			<key>valuesDataSource</key>
			<string>timeZones</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>label</key>
			<string>Select Timezone</string>
		</dict>
	</array>
	<key>title</key>
	<string>Couple Clock</string>
</dict>
</plist>
